@charset "UTF-8";

/* Base
------------------------------------------------------------*/
html {
  font-size: 62.5%; /* =10px =100% */
}

body {
  font-size: 1.4rem;
  font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.2;
  background-color:red;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  color: #989898;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #989898;
}

ul {
  padding: 10px 30px;
  list-style-type: disc;
  line-height: 2;
  text-transform: uppercase;
}



/* Header
------------------------------------------------------------*/
.picture-box {
  margin:0;
  padding:0;
  background-image: url("../images/flower.jpg");
  height: 500px;
  width: 100%;

  background-size: cover;
  background-position: center center;
}



/* main
---------------------------------------------------------*/ 
.main-textbox {
  display: block;
  width: 100%;
  margin: 0 0;
  padding: 30px 0;
  background-color: #ffffff; /* 背景色 */
}

.text {
  display: block;
  width: 98%;
  margin: 0 auto;
}

.container {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;

  width: 100%;
  margin: 20px 0 0 0;
  padding: 0 0;
  background-color: #ffffff; /* 背景色 */
}

.title
{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-flex: 1;
          flex: 1;
  margin: 0 20px 10px 20px;
}

.title-text
{
  display: block;
  margin: 0 0;
  padding: 10px 0;
  
  background-color: #d8d8d8;
}

.item
{
  color: #ffffff;
  margin: 0 0;
  padding: 10px;
  text-align: left;
  background-color: #a0a0a0;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }  
  .picture-box {
    height: 250px;
    width: 100%;
  }
}

/* footer
------------------------------------------------------------*/
footer {
  display: block;
  width: 100%;
  margin: 0 0;
  padding: 20px 0;
  background-color: #e8e8e8;
}

.bottan {
  display: block;
  width: 250px;
  margin: 20px auto ;
  padding: 5px 0;
  font-size: 2.5rem; /* size */
  font-weight: bold; /* weight */
  text-align: center; /* テキストの中央寄せ */
  color: #ffffff; /* 文字色 */
  background-color: #a0a0a0; /* 背景色 */
  border: solid 1px #a0a0a0; /* ボーダー色 */
  -webkit-border-radius: 4px; /* 角丸 */
     -moz-border-radius: 4px;
          border-radius: 4px;
}

